<% include ../partials/header %>

<div class="container">
  <h1 class="mb-3"><%= user.username %>'s Profile</h1>
  <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="<%= user.avatar %>" alt="<%= user.username %>'s profile image.">
          <div class="caption my-3">
            <a href="mailto:<%= user.email %>">Email me!</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3><%= user.username %>'s Campgrounds</h3>
        <% campgrounds.forEach((campground) => { %>
          <li style="list-style: none;">
            <a href="/campgrounds/<%= campground.id %>">
              <div class="card my-3">
                <div class="card-header">
                  <h4 class="d-inline"><%= campground.name %></h4>
                  <span class="pull-right">Current Rating: <%= campground.rating.toFixed(1) %>/5</span>
                </div>
                <img class="card-img-top" src="<%= campground.image %>" alt="Image of <%= campground.name %>">
              </div>
            </a>
          </li>
        <% }); %>
      </div>
  </div>
</div>

<% include ../partials/footer %>
